<section>
    <div
        id="virtualkeyboard"
        class="panel-collapse collapse"
        style="display: none;">
        <div id="virtualkeyboardheader">
            <span class="moveKeyboard"><img src="{{ assetResourcesPath }}/img/move.svg"> </span>
            <span class="closeKeyboard"><img src="{{ assetResourcesPath }}/img/cross1.svg"> </span>
        </div>
        <div class="panel-body">
            <ul class="keyboard">
                <ul class="numbers">
                    <li class="char mob card">7</li>
                    <li class="char mob card">8</li>
                    <li class="char mob card">9</li>
                    <li class="char mob card">4</li>
                    <li class="char mob card">5</li>
                    <li class="char mob card">6</li>
                    <li class="char mob card">1</li>
                    <li class="char mob card">2</li>
                    <li class="char mob card">3</li>
                    <li class="char">%</li>
                    <li class="char mob card">0</li>
                    <li class="char">#</li>
                    <li class="capslock">Caps</li>
                    <li class="backspace last mob card">Delete
                        <!-- <span class="glyphicon glyphicon-arrow-left"></span> -->
                    </li>
                </ul>
                <li class="char">q</li>
                <li class="char">w</li>
                <li class="char">e</li>
                <li class="char">r</li>
                <li class="char">t</li>
                <li class="char">y</li>
                <li class="char">u</li>
                <li class="char">i</li>
                <li class="char">o</li>
                <li class="char">p</li>
                <li class="char ml20">a</li>
                <li class="char">s</li>
                <li class="char">d</li>
                <li class="char">f</li>
                <li class="char">g</li>
                <li class="char">h</li>
                <li class="char">j</li>
                <li class="char">k</li>
                <li class="char">l</li>
                <li class="char" id="one">;</li>
                <li class="char">z</li>
                <li class="char">x</li>
                <li class="char">c</li>
                <li class="char">v</li>
                <li class="char">b</li>
                <li class="char">n</li>
                <li class="char">m</li>
                <li class="char" id="two">`</li>
                <!-- <li class="return last">return</li> -->
                <li class="char" id="three">'</li>
                <li class="char" id="four">[</li>
                <li class="char" id="five">]</li>
                <li class="char" id="six">,</li>
                <li class="char" id="seven">.</li>
                <li class="space">Space<span class="glyphicon glyphicon-resize-horizontal"></span>
                </li>
                <li class="char" id="eight">/</li>
                <li class="char" id="nine">-</li>
                <li class="char" id="ten">=</li>
                <li class="char" id="eleven">\</li>
                <ul class="mt20">
                    <li class="char">!</li>
                    <li class="char">@</li>
                    <li class="char">$</li>
                    <li class="char">^</li>
                    <li class="char">&</li>
                    <li class="char">*</li>
                    <li class="char">$</li>
                    <li class="char">^</li>
                    <li class="char">(</li>
                    <li class="char">)</li>
                </ul>
            </ul>
        </div>
    </div>
</section>
