<div class="qrcode-login-body">
    <div class="qrcode-login-body-inner">
        <div class="qrlb-col-1">
            <p class="qrlb-heading">
                Login Without a Password
            </p>
            <ol class="qrlb-instructions">
                <li>
                    Open the SBI Card mobile app
                </li>
                <li>
                    Tap the central scan button on the bottom navigation
                </li>
                <li>
                    Point the scanner at the QR code to login instantly
                </li>
            </ol>
        </div>
        <div class="qrlb-col-2">
            <div class="qrlb-col-2-inner">
                <p class="qrlb-subheading">
                    Scan to Login
                </p>
                <div class="qrcode-container">
                    <img src="{{ assetBasePath }}/img/qrcode.png" alt="QR Code used to login">
                </div>
            </div>
        </div>
    </div>
</div>
