<div class="qrcode-login-body">
    <div class="qrcode-login-body-inner">
        <div class="qrlb-col-1">
            <p class="qrlb-heading">
                Login Without a Password
            </p>
            <ol class="qrlb-instructions">
                <li>
                    Open the SBI Card mobile app
                </li>
                <li>
                    Tap the central scan button on the bottom navigation
                </li>
                <li>
                    Point the scanner at the QR code to login instantly
                </li>
                <li>
                    Point the scanner at the QR code to login instantly
                </li>
            </ol>
        </div>
        <div class="qrlb-col-2">
            <div class="qrlb-col-2-inner">
                <p class="qrlb-subheading">
                    Scan to Login
                </p>
                <div class="qrcode-aspect-ratio-box">
                    <div class="qrcode-aspect-ratio-box-inner">
                        <img src="{{ assetResourcesPath }}/img/qrcode.png" alt="QR Code used to login" data-blur-target>
                        <button id="qrlb-timer-refresh-btn" class="qrlb-refresh-btn">
                            <div class="qrlb-refresh-btn-inner">
                                <div class="qrlb-refresh-btn-icon"></div>
                                <div class="qrlb-refresh-btn-text">
                                    Refresh QR Code
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <p class="qrlb-timer-container" data-blur-target>
                    Refresh in <span id="qrlb-timer" class="qrlb-timer-text">30</span> seconds
                </p>
            </div>
        </div>
    </div>
</div>
